body {
    background-color: black;
    color: aliceblue;
    border: 10px;
    border-radius: 50%;
    border-color: green;
}

#main {
    text-align: center;
    font-style: oblique;
}

#counter {
    text-align: center;
    font-style: oblique;
    padding-bottom: 10px;
}

#centerpiece {
    display: block;
    margin: auto;
    text-align: center;
    font-style: oblique;
    padding-top: 10px:
}

#button {
background-color: #ccc;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:6px;
color: #fff;
font-family: 'Oswald';
font-size: 20px;
text-decoration: none;
cursor: pointer;
border:none;
}
