body {
    background-color: black;
    color: aliceblue;
    border: 10px;
    border-radius: 50%;
    border-color: green;
}

#main {
    text-align: center;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

#counter {
    text-align: center;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
    padding-top: 10px;
}

#centerpiece {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px:
}

#button {
background-color: #ccc;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:6px;
color: #fff;
font-family:'Courier New', Courier, monospace;
font-size: 20px;
text-decoration: none;
cursor: pointer;
border:none;
}

#my-button {
  position: fixed;
  left: 0; /* Aligns the button to the very left edge of the viewport */
  transform: translateY(-50%); /* Adjusts vertical alignment for perfect centering */
}

#mainsflex {
    display: flex;
    flex-direction:column-reverse;
    font-family: 'Courier New', Courier, monospace;
}